
.section{display: flex;}

.leftside { width: 50%; height: 100%; overflow: hidden; margin-top: 20px;}

.leftside img{  width: 100%;  height: 100%; }

.rightside {width: 50%; height: 100%; overflow: hidden; margin-top: 20px;}
.rightside img{  width: 100%;  height: 100%; }


.floating-box1 {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color:rgb(104, 51, 51);
    border: 1px solid #ccc;
    border-radius: 30%;
    padding: 10px;
    width: 200px;
    height: 150px;
    overflow:auto;
    color:azure;
    
    
  }

.floating-box2 {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color:rgb(104, 51, 51);
    border: 1px solid #ccc;
    border-radius: 30%;
    padding: 10px;
    width: 200px;
    height: 150px;
    overflow:auto;
    color:azure;
  }

  .floating-box3 {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgb(104, 51, 51);
    border: 1px solid #ccc;
    border-radius:30%;
    padding: 10px;
    width: 200px;
    height: 150px;
    overflow:auto;
    color:azure;
  }

  .floating-box4 {
    position: absolute;
    top: 30%;
    left: 59.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(104, 51, 51);
    border: 1px solid #ccc;
    border-radius:30%;
    padding: 10px;
    width: 200px;
    height: 150px;
    overflow:auto;
    color:azure;
  }

  .floating-box5 {
    position: absolute;
    top: 55%;
    left: 74.5%;
    transform: translate(-50%, -50%);
    background-color:rgb(104, 51, 51);
    border: 1px solid #ccc;
    border-radius:30%;
    padding: 10px;
    width: 200px;
    height: 150px;
    overflow:auto;
    color:azure;
  }

  .floating-box6 {
    position: absolute;
    top: 80%;
    left: 89.5%;
    transform: translate(-50%, -50%);
    background-color:rgb(104, 51, 51);
    border: 1px solid #ccc;
    border-radius:30%;
    padding: 10px;
    width: 200px;
    height: 150px;
    overflow:auto;
    color:azure;
  }